<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ginfo.foceen" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcceuilActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".CentraleActivity"
            android:label="@string/centrale"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".GestionPersonneActivity"
            android:label="@string/creerPersonne"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ExterneActivity"
            android:label="@string/externe"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".GestionExterneActivity"
            android:label="@string/gestionExterne"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".GestionEventActivity"
            android:label="@string/gestionEvent"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PresenceActivity"
            android:label="@string/presence"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/gestionMDP"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".FileBrowserActivity"
            android:label="@string/file_browser"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
